*{
    margin: 0;
    padding: 0;
}

.flex-div{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.div-1{
    background-color: lightblue;
}
.div-2{
    background-color: lightpink;
}


.div-3{
    background-color: lightblue;
    width: 100px;
}
.div-4{
    background-color: lightpink;
    flex: 1;
}

.flex-div2{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}


.div-5{
    background-color: lightblue;
    width: 100px;
}
.div-6{
    background-color: lightpink;
    flex: 1;
}
.div-7{
    background-color: rgb(204, 147, 156);
    flex: 2;
}

.flex-div3{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.div-8{
    background-color: lightblue;
    width: 100px;
}
.div-9{
    background-color: lightpink;
    width: 100px;
}
.div-10{
    background-color: rgb(204, 147, 156);
    width: 100px;
}

.flex-div4{
    height: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}